<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<title>CFB Scoreboard API</title>
	</head>

	<body>
		<div class="container-fluid">

		</div>

		<footer class="bd-footer text-muted" style="text-align:center;" role="contentinfo">
			<div class="container">
				<p>Built by <a id="github" href="https://github.com/akeaswaran">@akeaswaran</a>.</p>
				<p>Currently v0.1.2. Code licensed <a id="license" href="https://github.com/akeaswaran/cfb-scores/blob/master/LICENSE.md">MIT</a>.</p>
			</div>
		</footer>
	</body>
	<script>
		$(document).ready(function() {
		});
	</script>
</html>
